.bill_container {
	font-family: "Times New Roman", Times, serif;
}
body {
	background-image: url('images\\bg.jpg');
}

.h1 {
	font-size: 40px;
}

table, th, td {
  border: 1px solid black;
}

tab1{
	width: 100px;
}